<div class="">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article m-0">
                        <div class="article-img d-flex justify-content-center">
                            <img class="w-100" src="{{ article.bg_image }}" title="" alt="article image">
                        </div>
                        <div class="article-title">
                            <h6><a href="/{{ article.category }}">{{ article.category }}</a></h6>
                            <h2>{{ article.title }}</h2>
                            <div class="media">
                                {{!-- <div class="avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" title="" alt="">
                                </div> --}}
                                <div class="media-body">
                                    {{!-- <label>Misha</label> --}}
                                    <span>{{ article.createdAt }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="article-content">
                            {{{ article.content }}}
                        </div>
                        {{!-- <div class="nav tag-cloud">
                            <a href="#">Design</a>
                            <a href="#">Development</a>
                            <a href="#">Travel</a>
                            <a href="#">Web Design</a>
                            <a href="#">Marketing</a>
                            <a href="#">Research</a>
                            <a href="#">Managment</a>
                        </div> --}}
                    </article>
                    {{!-- <div class="contact-form article-comment">
                        <h4>Leave a Reply</h4>
                        <form id="contact-form" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="send">
                                        <button class="px-btn theme"><span>Submit</span> <i class="arrow"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> --}}
                </div>
                <div class="col-lg-4 m-15px-tb blog-aside position-sticky" style="top: 5rem;">
                    <!-- Author -->
                    <div class="widget widget-author m-0">
                        <div class="widget-title">
                            <h3>Author</h3>
                        </div>
                        <div class="widget-body">
                            <div class="media align-items-center d-flex justify-content-between">
                                
                                <div class="media-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                                        </div>
                                        <h6>{{ user.name }}</h6>
                                    </div>
                                    
                                    <p class="">{{ user.intro }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Author -->
                    <!-- Trending Post -->
                    {{!-- <div class="widget widget-post">
                        <div class="widget-title">
                            <h3>Trending Now</h3>
                        </div>
                        <div class="widget-body">

                        </div>
                    </div> --}}
                    <!-- End Trending Post -->
                    <!-- Latest Post -->
                    <div class="widget widget-latest-post">
                        <div class="widget-title">
                            <h3>Related Posts</h3>
                        </div>
                        <div class="widget-body">
                            {{#each latestArticles}}
                            <div class="latest-post-aside media row">
                                <div class="col-5">
                                    <a href="/posts/{{ slug }}/{{ id }}">
                                        <img class="w-100 rounded" height="75" src="{{ bg_image }}" title="" alt="">
                                    </a>
                                </div>
                                <div class="media-body col-7">
                                    <div class="lpa-title">
                                        <h5><a class="text-decoration-none text-dark fw-normal" href="/posts/{{ slug }}/{{ id }}">{{ title }}</a></h5>
                                    </div>
                                    {{!-- <div class="lpa-meta">
                                        <p class="date text-secondary">
                                            {{ createdAt }}
                                        </p>
                                    </div> --}}
                                </div>
                                
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- End Latest Post -->
                    <!-- widget Tags -->
                    {{!-- <div class="widget widget-tags">
                        <div class="widget-title">
                            <h3>Latest Tags</h3>
                        </div>
                        <div class="widget-body">
                            <div class="nav tag-cloud">
                                <a href="#">Design</a>
                                <a href="#">Development</a>
                                <a href="#">Travel</a>
                                <a href="#">Web Design</a>
                                <a href="#">Marketing</a>
                                <a href="#">Research</a>
                                <a href="#">Managment</a>
                            </div>
                        </div>
                    </div> --}}
                    <!-- End widget Tags -->
                </div>
            </div>
        </div>
    </div>