
<header class="py-4 pb-3 mb-2 border-bottom row">
    <div class="px-0 col-12">
        <h1 class="fw-bold">Searching result</h1>
        {{!-- <p class="lead my-3 text-secondary">Uncover the power of statistics in data analysis. Explore concepts, methods, and applications for deriving meaningful insights and making informed decisions.</p> --}}
    </div>
</header>
<div class="row">
    <div class="col-12 p-0" id="no_article"></div>
</div>
<div class="row g-5">
    <div class="col-md-8">
        <article class="blog-post">
            
            <div class="row mb-2" id="articles-container">
                {{#each articles}}
                    <div class="row g-0 overflow-hidden flex-md-row mb-1 h-md-250 position-relative border-bottom">
                        <div class="col py-4 d-flex flex-column position-static">
                            <div class="d-flex row">
                                <div class="col-8">
                                    {{!-- <a href="/{{ categorySlug }}" class="d-inline-block mb-2 text-success text-decoration-none">{{ category }}</a> --}}
                                    <h5 class="mb-0"><a href="/posts/{{ slug }}/{{ id }}" class="text-decoration-none text-dark">{{ title }}</a></h5>
                                    <div class="mb-1 text-muted"><small><i class="fa-solid fa-pen"></i> {{ createdAt }}</small></div>
                                    <p class="card-text mb-auto text-secondary" 
                                    style="overflow: hidden; 
                                    display: -webkit-box; 
                                    -webkit-line-clamp: 2;
                                    line-clamp: 2;
                                    -webkit-box-orient: vertical;">
                                    {{ intro }}
                                    </p>
                                </div>
                                <div class="col-4 d-none d-lg-block">
                                    <a href="/posts/{{ slug }}/{{ id }}"><img alt="article image" class="bd-placeholder-img rounded w-100" height="140" src="{{ bg_image }}"></img></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </article>
    </div>
    
</div>

<script>
    var results = "{{ articles }}";
    if(results == []) {
        document.getElementById("no_article").innerHTML = "We did not find any results for: {{ query }}."
    }
</script>